# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
*.env
*.env.local

output/demo/*.ckpt
output/
pretrained/embeddings
pretrained/gsdecoder
pretrained/unet
pretrained/vae
pretrained/.huggingface
pretrained/resources
pretrained/*.md
test_app.py
